<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .header {
            background-color: black;
            color: white;
            padding: 10px;
            text-align: left;
        }
        .logout-btn {
            position: absolute;
            right: 30px;
            top: 15px;
        }
        .table-container {
            margin: 1cm 1cm 1cm 1cm;
            border: 1px solid #dee2e6; /* Рамка вокруг таблицы */
            border-radius: 0.25rem; /* Закругленные углы */
            overflow: hidden; /* Скрыть переполнение */
        }
        .table-header {
            background-color: #f8f9fa; /* Цвет фона для заголовка "All users" */
            border-bottom: 1px solid #dee2e6; /* Рамка снизу заголовка */
            margin-bottom: 0; /* Убираем отступ снизу */
        }
        table {
            background-color: white; /* Белый фон для всей таблицы */
            color: black; /* Черный текст для всей таблицы */
        }
        th, td {
            background-color: white; /* Белый фон для ячеек заголовков и данных */
            color: black; /* Черный текст для ячеек заголовков и данных */
        }
        th {
            font-weight: bold; /* Жирный текст для заголовков */
        }
    </style>
</head>
<body>

<div class="header">
    <span th:text="${currentUser.email}"></span> with roles:
    <span th:text="${#strings.substring(currentUser.roles[0].name,5)}"></span>
    <a href="/logout" class="btn btn-outline-light btn-sm logout-btn">Logout</a>
</div>

<div class="container-fluid" style="height: 100vh; padding: 0;">
    <div class="row" style="height: 100%;">
        <div class="col-md-2" style="background-color: white; height: 100%; padding: 0;"> <!-- Белый фон для кнопок -->
            <button type="button" class="btn btn-primary btn-lg w-100 text-left" style="border-radius: 0;">Admin</button>
            <a href="/user" class="btn btn-outline-primary btn-lg w-100 text-left" style="border-radius: 0;">User</a>
        </div>

        <style>
            .btn-outline-primary {
                border-color: transparent; /* Убираем границу */
            }
            .btn-outline-primary:hover {
                background-color: blue;
                color: white;
            }
            .btn-outline-primary:active {
                background-color: blue;
                color: white;
            }
        </style>

        <div class="col-md-9 light-gray-bg"> <!-- Светло-серая часть -->
            <h2 class="text-left mt-3">Admin Panel</h2> <!-- Заголовок -->

            <!-- Вкладки -->
            <div class="container-fluid">
                <nav>
                    <div class="nav nav-tabs border-bottom-0" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-users_table-link" data-toggle="tab" href="#nav-users_table"
                           role="tab" aria-controls="nav-users_table">Users table</a>
                        <a class="nav-link" id="nav-user_form-link" data-toggle="tab" href="#nav-user_form"
                           role="tab">New User</a>
                    </div>
                </nav>


                <!-- Контент вкладок -->
                <div class="tab-content mt-4">
                    <!-- Вкладка Users table -->
                    <div class="tab-pane fade show active" id="nav-users_table" role="tabpanel"
                         aria-labelledby="nav-users_table-link">
                        <div class="table-container mr-3 d-flex"> <!-- Добавляем класс d-flex -->
                            <table class="table table-hover flex-grow-1">
                                <thead>
                                <tr class="table-header">
                                    <th colspan="8" class="text-left"> All Users</th> <!-- Заголовок таблицы -->
                                </tr>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>

                                <!-- Данные пользователей -->
                                <tbody th:each="user : ${users}">
                                <tr>
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.name}"></td>
                                    <td th:text="${user.username}"></td>
                                    <td th:text="${user.age}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td>
                                        <div th:if="${not #lists.isEmpty(user.roles)}">
                                            <span th:text="${#strings.substring(user.roles[0].name, 5)}"></span>
                                        </div>
                                    </td>

                                    <!-- Кнопки редактирования и удаления -->
                                    <td>
                                        <!-- Изменяем кнопку Edit -->
                                        <button type = "button"
                                                class = "btn bg-info text-white edit-button"
                                                data-toggle = "modal"
                                                data-target = "#userEditDialog"
                                                th:data-userid="${user.id}"
                                                th:data-name="${user.name}"
                                                th:data-username="${user.username}"
                                                th:data-age="${user.age}"
                                                th:data-email="${user.email}"
                                                th:data-password="${user.password}"
                                                th:data-roles="${#strings.listJoin(user.roles, ',')}"
                                        >Edit
                                        </button >
                                    </td>
                                    <td><button
                                            type = "button"
                                            class = "btn btn-danger delete-button"
                                            data-toggle = "modal"
                                            data-target = "#userDeleteDialog"
                                            th:data-userid="${user.id}"
                                            th:data-name="${user.name}"
                                            th:data-username="${user.username}"
                                            th:data-age="${user.age}"
                                            th:data-email="${user.email}"
                                            th:data-roles="${#strings.listJoin(user.roles, ',')}"
                                    >Delete</button></td>
                                </tr>
                                </tbody>
                                <!-- Модальное окно редактирования пользователя -->
                                <div class="modal fade" id="userEditDialog" tabindex="-1" role="dialog" aria-labelledby="userEditDialogLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="userEditDialogLabel">Edit user</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="editUserForm">
                                                    <div class="form-group">
                                                        <label for="user-id">ID</label>
                                                        <input type="text" class="form-control" id="user-id" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="user-name">First name</label>
                                                        <input type="text" class="form-control" id="user-name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="user-username">Last name</label>
                                                        <input type="text" class="form-control" id="user-username">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="user-age">Age</label>
                                                        <input type="number" class="form-control" id="user-age">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="user-email">Email</label>
                                                        <input type="email" class="form-control" id="user-email">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="user-password">Password</label>
                                                        <input type="password" class="form-control" id="user-password">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="user-role">Role</label>
                                                        <select multiple size=2 class = "form-control mx-auto" id = "user-role"
                                                                style = "width: 100%;" >
                                                            <option value = "ROLE_ADMIN">ADMIN</option >
                                                            <option value = "ROLE_USER">USER</option >
                                                        </select >
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type = "button" class = "btn btn-secondary"
                                                        data-dismiss = "modal">Close</button >
                                                <button type = "button"
                                                        id = "save-user-button"
                                                        class = "btn btn-primary">Edit</button >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Модальное окно удаления пользователя -->
                                <div class="modal fade" id="userDeleteDialog" tabindex="-1" role="dialog" aria-labelledby="userDeleteDialogLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="userDeleteDialogLabel">Delete user</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="deleteUserForm">
                                                    <div class="form-group">
                                                        <label for="delete-user-id">ID</label>
                                                        <input type="text" class="form-control" id="delete-user-id" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="delete-user-name">First name</label>
                                                        <input type="text" class="form-control" id="delete-user-name" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="delete-user-username">Last name</label>
                                                        <input type="text" class="form-control" id="delete-user-username" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="delete-user-age">Age</label>
                                                        <input type="number" class="form-control" id="delete-user-age" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="delete-user-email">Email</label>
                                                        <input type="email" class="form-control" id="delete-user-email" readonly>
                                                    </div>
                                                    <!-- Пароль не показываем! -->
                                                    <div class="form-group">
                                                        <label for="delete-user-role">Role</label>
                                                        <select multiple size=2 class = "form-control mx-auto"
                                                                id = "delete-user-role"
                                                                style = "width: 100%;" disabled >
                                                            <option value = "ROLE_ADMIN">ADMIN</option >
                                                            <option value = "ROLE_USER">USER</option >
                                                        </select >
                                                    </div>
                                                </form>
                                            </div>
                                            <div class = "modal-footer">
                                                <button type = "button"
                                                        class = "btn btn-secondary"
                                                        data-dismiss = "modal">Close</button >
                                                <button type = "button"
                                                        id = "confirm-delete-button"
                                                        class = "btn btn-danger">Delete</button >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </table>
                        </div>
                    </div>


                    <!-- Вкладка New User -->
                    <div class="tab-pane fade" id="nav-user_form" role="tabpanel" aria-labelledby="nav-user_form-link">
                        <!-- Форма добавления нового пользователя -->
                        <h3 class="text-left">Add new user</h3>

                        <div class="user-form-container mt-4 p-4 bg-white rounded shadow">
                            <!-- Обратите внимание: убрали action и method -->
                            <form id="userForm" class="text-center">
                                <!-- Поля формы -->
                                <div class="form-group">
                                    <label for="name">First name:</label>
                                    <input type="text" class="form-control mx-auto" id="name" name="name" required style="width: 30%;">
                                </div>
                                <div class="form-group">
                                    <label for="username">Last name:</label>
                                    <input type="text" class="form-control mx-auto" id="username" name="username" required style="width: 30%;">
                                </div>
                                <div class="form-group">
                                    <label for="age">Age:</label>
                                    <input type="number" class="form-control mx-auto" id="age" name="age" required style="width: 30%;">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control mx-auto" id="email" name="email" required style="width: 30%;" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="password" class="form-control mx-auto" id="password" name="password" required style="width: 30%;" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label for="role">Role:</label>
                                    <select class = "form-control mx-auto" id = "role" name = "selectedRoles"
                                            style = "width: 30%;" >
                                        <option value = "ROLE_ADMIN">ADMIN</option >
                                        <option value = "ROLE_USER">USER</option >
                                    </select >
                                </div>

                                <!-- Кнопка отправки формы -->
                                <button type = "submit" class = "btn btn-success mt-3">Add new user</button >
                            </form >
                        </div >
                    </div>
                    <style>
                        .user-form-container {
                            background-color: white; /* Белый фон для формы */
                            padding: 20px; /* Отступы внутри контейнера */
                            border-radius: 8px; /* Закругленные углы */
                            box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* Тень для контейнера */
                        }

                        .mt-4 {
                            margin-top: 1.5rem; /* Отступ сверху для контейнера формы */
                        }

                        .p-4 {
                            padding: 1.5rem; /* Отступы внутри контейнера формы */
                        }
                    </style>
                </div >
            </div >
        </div >

    </div>

</div>

</div>

</div>

<script src = "https://code.jquery.com/jquery-3.5.1.min.js"></script >
<script src = "https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script >
<script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script >
<script src="/js/scripts.js"></script>
</body >
</html >

