<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>

<h1>Welcome,<span th:text="${user.username}"></span>, spring boot security page!</h1>
<p th:text="'Name: ' + ${user.name}"></p>
<p>Age: <span th:text="${user.age}"></span></p>
<p>Email: <span th:text="${user.email}"></span></p>
<p>Password: <span th:text="${user.password}"></span></p>


<a th:href="@{/logout}">LOGOUT</a>
</body>
</html>